@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Poppins, sans-serif;
}

header {
    width: 100vw;
    /* Heigh is temporary */
    height: 600px;
    margin: 0 auto;
    background-color: #1F2937;

}

/* navbar section */
.navbar {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex: 1;
    justify-content: space-between;

    padding: 32px 0;
    margin-bottom: 98px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.nav-ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    list-style-type: none;   
}

.nav-links a {
    text-decoration:none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero section */

.hero {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    gap: 1rem;
    align-items: center;
}

.container-hero > h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.container-hero > p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
    text-wrap: balance;
}

.container-hero button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 5px;
}

/* Service section */

.section-1 {
    width: 100vw;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* border: 1px solid black; */
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
    margin: 36px 0;
    margin-bottom: 48px;
}

.service {
    max-width: 1200px;
    /* border: 5px solid red; */

}

.service-ul {
    display: flex;
    justify-content: space-evenly;
}

.service-li {
    display: flex;
    display: block;
}

.box-frame {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.service-li, div > p {
    font-size: 18px;
    color: #1F2937;
    
    flex: 0 0 0;
}

/* Memorial section */
.section-2 {
    background-color: #E5E7EB;
    width: 100vw;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.memorial {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.memorial > p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    flex: 0 0 auto;
}

.memorial > span {
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
}

/* Call-To-Action Section */

.section-3 {
    width: 100vw;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    max-width: 1200px;
    background-color: #3882F6;

    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 3rem;

    padding: 48px;
    border-radius: 10px;

}

h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.cta div > p {
    color: #F9FAF8;

}

.cta > button {
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0 32px;
    font-size: 18px;
}

/* Footer Section */

footer {
    background-color: #1F2937;
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: #F9FAF8;
}